.login {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background-color: #1c1c1c;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login_header {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.login input {
  margin: 10px 20px;
}
.login_btn {
  border: none;
  background-color: white;
  border-radius: 10px;
  color: #1b1116;
  padding: 5px 10px;
  align-self: flex-end;
  margin-top: 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .login {
    width: 280px;
  }
}
