* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1b1116;
  overscroll-behavior: none;
}
#root {
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1140px;
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
