.navbar {
  display: flex;
  justify-content: center;
  height: 65px;
  border-radius: 20px;
  background-color: #1c1c1c;
  width: calc(100% - 10px);
}
.navbar a {
  text-decoration: none;
}
.navbar_logo {
  margin-left: 20px;
  height: 40px;
  width: 40px;
}
.navbar_header {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: none;
}
.navbar_loginout {
  margin-left: auto;
  padding-right: 10px;
  cursor: pointer;
}
.navbar_register {
  margin-right: 10px;
  cursor: pointer;
}
.navbar_avatar {
  cursor: pointer;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}
.navbar_github {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  text-transform: none;
  cursor: pointer;
}
