@import '../../utils/colors.less';

.navbar {
    display: flex;
    justify-content: center;
    height: 65px;
    border-radius: 20px;
    background-color: @header-bg-color;
    width: calc(100% - 10px);

    a {
        text-decoration: none;
    }

    &_logo {
        margin-left: 20px;
        height: 40px;
        width: 40px;
    }

    &_header {
        margin-left: 10px;
        font-size: 24px;
        font-weight: bold;
        text-transform: none;
    }

    &_loginout {
        margin-left: auto;
        padding-right: 10px;
        cursor: pointer;
    }

    &_register {
        margin-right: 10px;
        cursor: pointer;
    }

    &_avatar {
        cursor: pointer;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-size: cover;
        background-position: center;
    }

    &_github {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        text-transform: none;
        cursor: pointer;
    }
}